<!--==========MENU==========-->
<!--<header class="header">
  <div class="header_logo">
    <img src="../assets/images/logo.png" alt="">
  </div>
  <nav class="header_menu">
    <ul class="header_list">
      <li class="header_items"><a href="#">Home</a></li>
      <li class="header_items"><a href="#">Product</a></li>
      <li class="header_items"><a href="#">About</a></li>
    </ul>
  </nav>
  <div class="header_buttons">
    <button>Button</button>
    <a href="#">
      <div>
        <img src="" alt="">
      </div>
    </a>
  </div>

</header>-->


<!--=========MAIN-CONTAINER===========-->
<!--<div class="main_content">
  <div class="green_bar">

  </div>
  <nav class="sub_menu">
    <div class="container_bar">
      <input type="text" name="bar" id="bar">
      <div class="icon_search"><img src="#" alt=""></div>
    </div>
    <div class="container_filter">
      <ul>
        <li><a href="#">Precio</a></li>
        <li><a href="#">Tipo de oferta</a></li>
        <li><a href="#">Inmueble</a></li>
        <li><a href="#">Recamaras</a></li>
        <li><a href="#">Filtrar</a>
          <div class="icon_item_filter"><img src="#" alt=""></div>
        </li>
      </ul>
    </div>
  </nav>

  <div class="offert_content">
    <div class="offert_title">
      <h2>Departamento en oferta en Tlaxcala para usuario</h2>
    </div>
    <div class="card_offert">
      <div class="main_photo_offert">
        <img src="#" alt="">
      </div>
      <div class="info_offer">
        
      </div>
    </div>
  </div>  


</div>-->
<!--==========MAIN-CONTAINER==========-->


<!--==========MAIN CONTAINER==========-->
<div class="container_grid">
  <div class="items">
    <div class="container_bar">
      <input type="text" placeholder="Buscar por Estado o Colonia">
    </div>
    <div class="container_icon">
      <img src="" alt="">
    </div>
  </div>
  <div class="items">
    <div class="container_filters">
      <ul>
        <li class="filters">Precio</li>
        <li class="filters">Tipo de oferta</li>
        <li class="filters">Inmueble</li>
        <li class="filters">Recamaras</li>
        <li class="filters">Filtrar</li>
      </ul>
    </div>
  </div>
  <div class="items">
    <h2 class="title">(Tipo de inmueble) en oferta en (ubicacion) para (usuario)</h2>
  </div>
  <div class="items">
    <img src="../assets/images/pascal-bernardon-TVcj-so0GDs-unsplash.jpg" alt="">
  </div>
  <div class="items">
    <div class="top_info">
      <div class="price_property">
        MX 40,000
      </div>
      <div class="location_property">
        <h2 class="title_street">
          MAGNOLIA 66
        </h2>
        <p class="title_location">
          San antonio, San Martin Texmelucan
        </p>
      </div>
    </div>
    <div class="middle_info">
      <div class="offer_title">
        <h4>Se Renta Departamento de Dos pisos, Para Personas Solas, en San Martin Texmelucan</h4>
      </div>
      <div class="description_location">
        <p>Se renta departamento de dos pisos para personas solas en san martin texmelucan puebla, Excelente ubicacion, cerca 
          a zona comercial y escolar...
        </p>
      </div>
    </div>
    <div class="last_info">
      <h3 class="property_description">
        Descripcion del inmueble baños, cuartos, cocina, cochera etc
      </h3>
    </div>
  </div>
</div>
<!--==========MAIN CONTAINER==========-->